{% set categories = programCategories(program) %}

{% set price = getProgramPrice(program) %}
{% set oldPrice = getOldProgramPrice(program) %}

{% set legalEntityPaymet = program.getPayment('legalEntity') %}
{% set individualPayment = program.getPayment('individual') %}

<div class="compare__table-column">
  <div class="compare__table-header">
    <span class="close compare-program-remove" data-id="{{ program.id }}"></span>
    <a href="{{ path('program.view', {id: program.id}) }}">{{ program.name }}</a>
    <div class="description">
      <div class="price">
        {% if program.showPriceReduction and price is not null and oldPrice is not null and price < oldPrice %}
          <span class="price-old">{{ oldPrice|number_format(0, ' ', ' ') }}  р.</span>
          <span class="price-new">{{ price }}</span>
        {% else %}
          {% if price is not null %}
            <span class="price-text">{{ price|number_format(0, ' ', ' ') }}  р.</span>
          {% else %}
            <span class="price-text">По запросу</span>
          {% endif %}
        {% endif %}
      </div>
      {% if app.user is null or not is_granted('ROLE_PROVIDER') %}
        <div class="button-container">
          <button class="button-blue add-program-request" {{ hasRequest(program.id) ? 'disabled' : '' }}
                  data-id="{{ program.id }}">
            Заказать
          </button>
        </div>
      {% endif %}
    </div>
  </div>
  <div class="compare__table-category">
    <div class="category-link">
      {% for category in categories %}
        <span>{{ category.item.name }}</span>
      {% endfor %}
    </div>
  </div>
  <div class="compare__table-annotation">
    <p class="annotation-text">{{ program.annotation }}</p>
  </div>
  <div class="compare__table-program">
    <p>{{ program.detailText }}</p>
  </div>
  <div class="compare__table-users">
    {% for teacher in program.teachers %}
      <div class="photo-row">
        <img src="{{ teacher.photo ? teacher.photo.publicPath : '' }}" alt="">
        <span>{{ teacher.name }}</span>
      </div>
    {% endfor %}
  </div>
  <div class="compare__table-duration">
    <p>{{ getDuration(program) }}</p>
  </div>
  <div class="compare__table-design">
    <p>20% теории, 80% практики</p>
  </div>
  <div class="compare__table-provider">
    {% for provider in program.providers %}
      <div class="photo-row">
        <img src="{{ provider.image ? provider.image.publicPath : '' }}" alt="">
        <a href="{{ path('provider.view', {provider: provider.id}) }}" target="_blank">{{ provider.name }}</a>
      </div>
    {% endfor %}
  </div>
  <div class="compare__table-audience">
    {% set i = 0 %}
    {% for item in program.targetAudience %}
      {% set i = i + 1 %}
      <p>{{ i }}. {{ item }}</p>
    {% endfor %}
  </div>
  <div class="compare__table-document">
    {% if program.certificate %}
      <div class="photo-row cert">
        <img src="{{ program.certificate.image ? program.certificate.image.publicPath : '' }}" alt="">
        <span>{{ program.certificate.name }}</span>
      </div>
    {% endif %}
  </div>
  <div class="compare__table-date">
    <p>{{ getTrainingDate(program) }}</p>
  </div>
  <div class="compare__table-mode">
    <p>{{ getOccupationMode(program) }}</p>
  </div>
  <div class="compare__table-course">
    <p>{{ getAllAdditional(program) }}</p>
  </div>

  <div class="compare__table-sales">
    {% if legalEntityPaymet is not null and legalEntityPaymet.discount is not null %}
      <p>Для физических лиц - {{ legalEntityPaymet.discount }}%
        = {{ (price * (1 - legalEntityPaymet.discount / 100))|number_format(0, ' ', ' ') }} руб.
      </p>
    {% endif %}
    {% if individualPayment is not null and individualPayment.discount is not null %}
      <p>Для юридических лиц - {{ individualPayment.discount }}%
        = {{ (price * (1 - individualPayment.discount / 100))|number_format(0, ' ', ' ') }} руб.
      </p>
    {% endif %}
  </div>
  <div class="compare__table-photo">
    <div class="photo">
      {% set i = 0 %}
      {% for gallery in program.gallery %}
        {% set i = i + 1 %}
        {% if i < 3 %}
          <img src="{{ gallery.image.publicPath }}" alt="">
        {% endif %}
      {% endfor %}
    </div>
    {% if program.gallery|length > 2 %}
      <a href="{{ path('program.view', {program: program.id}) }}" class="more">Смотреть все в карточке программы</a>
    {% endif %}
  </div>
  <div class="compare__table-information">
    <p>{{ program.additionalInfo }}</p>
  </div>
</div>
