<div class="header__menu">
  <div class="container">
    <div class="col-lg-12 col-sm-4">
      <ul class="menu {{ app.user is not null and is_granted('ROLE_PROVIDER') ? 'program-add' : '' }}">
        <li class="menu__item">
          <a href="{{ path('faq.provider') }}" class="menu__item-link">Для провайдеров обучения </a>
        </li>
        <li class="menu__item">
          <a href="{{ path('faq.student') }}" class="menu__item-link">Для желающих обучаться</a>
        </li>
        <li class="menu__item">
          <a href="{{ path('program.index') }}" class="menu__item-link">Программы обучения</a>
        </li>
        <li class="menu__item">
          <a href="{{ path('provider.index') }}" class="menu__item-link">Провайдеры обучения</a>
        </li>
        <li class="menu__item">
          <a href="{{ path('blog.index') }}" class="menu__item-link">Блог</a>
        </li>
        {% if app.user is not null and is_granted('ROLE_PROVIDER') %}
          <li class="menu__item">
            <i class="icon-add-folder"></i>
            <a href="{{ path('program.add') }}" class="menu__item-link">
              Добавить программу
            </a>
          </li>
        {% endif %}
      </ul>
    </div>

    <ul class="menu-mobile">
      <li class="menu-mobile__item {{ app.user is not null and is_granted('ROLE_PROVIDER') ? '' : 'wide' }}">
        <i class="icon-square"></i>
        <a href="#" class="menu-mobile__item-link">
          Меню
        </a>
        <ul class="sub-menu">
          <li class="menu__item">
            <a href="{{ path('faq.provider') }}" class="menu__item-link">Для провайдеров обучения </a>
          </li>
          <li class="menu__item">
            <a href="{{ path('faq.student') }}" class="menu__item-link">Для желающих обучаться</a>
          </li>
          <li class="menu__item">
            <a href="{{ path('program.index') }}" class="menu__item-link">Программы обучения</a>
          </li>
          <li class="menu__item">
            <a href="{{ path('provider.index') }}" class="menu__item-link">Провайдеры обучения</a>
          </li>
          <li class="menu__item">
            <a href="{{ path('blog.index') }}" class="menu__item-link">Блог</a>
          </li>
        </ul>
      </li>
      {% if app.user is not null and is_granted('ROLE_PROVIDER') %}
        <li class="menu-mobile__item">
          <i class="icon-add-folder"></i>
          <a href="{{ path('program.add') }}" class="menu-mobile__item-link">
            Добавить программу
          </a>
        </li>
      {% endif %}
    </ul>
  </div>
</div>