{#          {% if pageCount > 1 %}#}
        {#            <div class="row">#}
        {#              <div class="col-sm-12 col-md-7">#}
        {#                <ul class="pagination">#}
        {#                  {% if page != 1 %}#}
        {#                    <li class="page-item">#}
        {#                      <a class="page-link" href="{{ path('admin.payment.index', {page: page - 1}) }}">&laquo;</a>#}
        {#                    </li>#}
        {#                  {% endif %}#}

        {#                  {% if pageCount > 7 %}#}
        {#                    {% if page < 5 or page > (pageCount - 4) %}#}
        {#                      {% if page == 3 %}#}
        {#                        {% set startOffset = 4 %}#}
        {#                      {% elseif page == 4 %}#}
        {#                        {% set startOffset = 5 %}#}
        {#                      {% else %}#}
        {#                        {% set startOffset = 3 %}#}
        {#                      {% endif %}#}

        {#                      {% if page == (pageCount - 2) %}#}
        {#                        {% set endOffset = 3 %}#}
        {#                      {% elseif page == (pageCount - 3) %}#}
        {#                        {% set endOffset = 4 %}#}
        {#                      {% else %}#}
        {#                        {% set endOffset = 2 %}#}
        {#                      {% endif %}#}
        {#                    {% else %}#}
        {#                      {% set startOffset = 2 %}#}
        {#                      {% set endOffset = 1 %}#}
        {#                    {% endif %}#}

        {#                    {% for i in 1..startOffset %}#}
        {#                      {% if i == page %}#}
        {#                        <li class="page-item active">#}
        {#                          <div class="page-link">{{ i }}</div>#}
        {#                        </li>#}
        {#                      {% else %}#}
        {#                        <li class="page-item">#}
        {#                          <a class="page-link" href="{{ path('admin.payment.index', {page: i}) }}">{{ i }}</a>#}
        {#                        </li>#}
        {#                      {% endif %}#}
        {#                    {% endfor %}#}

        {#                    <li class="page-item">#}
        {#                      <div class="page-link">...</div>#}
        {#                    </li>#}

        {#                    {% if page >= 5 and page <= (pageCount - 4) %}#}
        {#                      {% for i in page -1..page + 1 %}#}
        {#                        {% if i == page %}#}
        {#                          <li class="page-item active">#}
        {#                            <div class="page-link">{{ i }}</div>#}
        {#                          </li>#}
        {#                        {% else %}#}
        {#                          <li class="page-item">#}
        {#                            <a class="page-link" href="{{ path('admin.payment.index', {page: i}) }}">{{ i }}</a>#}
        {#                          </li>#}
        {#                        {% endif %}#}
        {#                      {% endfor %}#}

        {#                      <li class="page-item">#}
        {#                        <div class="page-link">...</div>#}
        {#                      </li>#}
        {#                    {% endif %}#}

        {#                    {% for i in pageCount - endOffset ..pageCount %}#}
        {#                      {% if i == page %}#}
        {#                        <li class="page-item active">#}
        {#                          <div class="page-link">{{ i }}</div>#}
        {#                        </li>#}
        {#                      {% else %}#}
        {#                        <li class="page-item">#}
        {#                          <a class="page-link" href="{{ path('admin.payment.index', {page: i}) }}">{{ i }}</a>#}
        {#                        </li>#}
        {#                      {% endif %}#}
        {#                    {% endfor %}#}
        {#                  {% else %}#}
        {#                    {% for i in 1..pageCount %}#}
        {#                      {% if i == page %}#}
        {#                        <li class="page-item active">#}
        {#                          <div class="page-link">{{ i }}</div>#}
        {#                        </li>#}
        {#                      {% else %}#}
        {#                        <li class="page-item">#}
        {#                          <a class="page-link" href="{{ path('admin.payment.index', {page: i}) }}">{{ i }}</a>#}
        {#                        </li>#}
        {#                      {% endif %}#}
        {#                    {% endfor %}#}
        {#                  {% endif %}#}

        {#                  {% if page < pageCount %}#}
        {#                    <li class="page-item">#}
        {#                      <a class="page-link" href="{{ path('admin.payment.index', {page: page + 1}) }}">&raquo;</a>#}
        {#                    </li>#}
        {#                  {% endif %}#}
        {#                </ul>#}
        {#              </div>#}
        {#            </div>#}
{#        {% endif %}#}
