{% block form_label -%}
  {% if label %}
    <label for="exampleInputPassword1">{{ label }}</label>
  {% endif %}
{%- endblock form_label %}

{%- block form_widget_simple -%}
  {%- set type = type|default('text') -%}
  {%- if type == 'range' or type == 'color' -%}
    Attribute "required" is not supported
    {%- set required = false -%}
  {%- endif -%}
  <input type="{{ type }}" {{ block('widget_attributes') }} class="form-control"
         {% if value is not empty %}value="{{ value }}" {% endif %}/>
{%- endblock form_widget_simple -%}


{%- block button_widget -%}
  {%- if label is empty -%}
    {%- if label_format is not empty -%}
      {% set label = label_format|replace({
        '%name%': name,
        '%id%': id,
      }) %}
    {%- elseif label is not same as(false) -%}
      {% set label = name|humanize %}
    {%- endif -%}
  {%- endif -%}
  <button type="{{ type|default('button') }}" {{ block('button_attributes') }} class="btn btn-primary">
    {{ translation_domain is same as(false) or label is same as(false) ? label : label|trans(label_translation_parameters, translation_domain) }}
  </button>
{%- endblock button_widget -%}