<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8"/>
  <title>Авторизация</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>

  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700">

  {{ encore_entry_link_tags('admin.login') }}
</head>
<body>
<div class="container-fluid h-100">
  <div class="row h-100">
    <div class="col-12 login-page">
      <div class="login-container m-auto">
        <div class="title">
          <h3>Авторизация</h3>
        </div>

        <form class="login-form" action="{{ path('admin.site.login') }}" method="post">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Логин" name="email" value="{{ login }}">
          </div>
          <div class="form-group">
            <input type="password" class="form-control" placeholder="Пароль" name="password">
          </div>

          <div class="form-actions">
            <button type="submit" class="btn">Войти</button>
          </div>
          <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
        </form>
      </div>
    </div>
  </div>
</div>

{{ encore_entry_script_tags('admin.login') }}

</body>
</html>
