{% set filters = getProgramFilters() %}

<div class="mobile-filter">
  <div id="open-mobile-filter" class="mobile-filter-header">
    Фильтр поиска
    <i class="icon-more"></i>
  </div>
</div>

<form id="program-filter" class="form-filter program-filter form-with-mobile" action="">
  <div class="input-search-gray">
    <input class="input search" type="text" name="q" value="{{ app.request.get('q') }}" placeholder="Поиск по каталогу">
    <i class="icon-search"></i>
  </div>
  <div class="category">
    <span class="filter-title"><strong>По категории:</strong></span>
    <div class="custom-select not-last" data-placeholder="Выберите категорию" data-form-id="program-filter">
      <input name="category" value="">
      <input type="submit">
      <div class="selected-option">
        <span class="selected-option-value"></span>
        <span class="icon"></span>
      </div>
      <div class="options-container">
        <div class="options">
          {% for category in getRootCategories() %}
            <div data-value="{{ category.id }}"
                 class="option {{ app.request.get('category') == category.id ? 'active' : '' }}">
              {{ category.name }}
            </div>
          {% endfor %}
        </div>
      </div>
    </div>

    {% set childCategories = getChildCategories(app.request.get('category')) %}
    <div class="custom-select {{ childCategories|length < 1 ? 'disabled' : '' }}"
         data-placeholder="Выберите подкатегорию">
      <input name="subcategory" value="">
      <input type="submit">
      <div class="selected-option">
        <span class="selected-option-value"></span>
        <span class="icon"></span>
      </div>
      <div class="options-container">
        <div class="options">
          {% for category in getChildCategories(app.request.get('category')) %}
            <div data-value="{{ category.id }}"
                 class="option {{ app.request.get('subcategory') == category.id ? 'active' : '' }}">
              {{ category.name }}
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>

  <div class="rating">
    <span class="filter-title"><strong>По рейтингу программы:</strong></span>
    <div class="custom-select" data-placeholder="Выберите рейтинг">
      <input name="rating" value="">
      <input type="submit">
      <div class="selected-option">
        <span class="selected-option-value"></span>
        <span class="icon"></span>
      </div>
      <div class="options-container">
        <div class="options">
          <div data-value="2" class="option {{ app.request.get('rating') == 2 ? 'active' : '' }}">
            Не меньше 2
          </div>
          <div data-value="3" class="option {{ app.request.get('rating') == 3 ? 'active' : '' }}">
            Не меньше 3
          </div>
          <div data-value="4" class="option {{ app.request.get('rating') == 4 ? 'active' : '' }}">
            Не меньше 4
          </div>
          <div data-value="5" class="option {{ app.request.get('rating') == 5 ? 'active' : '' }}">
            5
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="format">
    <span class="filter-title"><strong>По формату обучения:</strong></span>
    {% set requestFormats = app.request.get('formats') %}
    {% for format in filters.formats %}
      <label class="circle-checkbox">
        {{ format.name }}
        <input {{ requestFormats[format.id] is defined ? 'checked' : '' }}
                type="checkbox"
                name="formats[{{ format.id }}]"
        >
        <span class="checkmark"></span>
      </label>
    {% endfor %}
  </div>

  <div class="practice">
    <span class="filter-title"><strong>Теория и практика:</strong></span>
    <div class="practice-container">
      Практики не менее <input class="input" name="practice" type="number" value="{{ app.request.get('practice') }}"/> %
    </div>
  </div>

  <div class="level">
    <span class="filter-title"><strong>Уровень:</strong></span>
    <div class="custom-select" data-placeholder="Выберите уровень">
      <input name="level" value="">
      <div class="selected-option">
        <span class="selected-option-value"></span>
        <span class="icon"></span>
      </div>
      <div class="options-container">
        <div class="options">
          {% for level in filters.levels %}
            <div data-value="{{ level.id }}" class="option {{ app.request.get('level') == level.id ? 'active' : '' }}">
              {{ level.title }}
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>

  <div class="price">
    <span class="filter-title"><strong>Стоимость:</strong></span>
    <div class="range-title">
      <span>от</span>
      <span>до</span>
    </div>
    <div class="price-range">
      <div class="track">
        <div class="thumb min-price-thumb"></div>
        <div class="thumb max-price-thumb"></div>
        <div class="range-progress"></div>
      </div>
    </div>
    <div class="price-range-inputs">
      <input class="input" type="number" name="min_price" value="{{ app.request.get('min_price') }}">
      <input class="input" type="number" name="max_price" value="{{ app.request.get('max_price') }}">
    </div>
  </div>

  <div class="city">
    <strong class="change-city-title open-city-selector-modal-btn">Выбор города:</strong>
    <div class="current-city">Ваш город: <strong>Москва</strong></div>
    <span class="open-city-selector-modal-btn change-city">Изменить город</span>
  </div>
  <div class="button-container">
    <button type="submit" class="button-red">Сохранить</button>
    <a href="{{ resetPath }}">Сбросить фильтр</a>
  </div>
</form>
