<div class="modal  {{ (app.request.get('reset_password') and not app.user) ? 'active' : '' }}" id="new-password-modal">
  <div class="modal-content">
    <div class="modal-body">
      <h6>Сбросить пароля</h6>
      <form method="post" action="{{ path('ajax.auth.new.password') }}" class="modal-form">
        <span class="error"></span>
        <div class="modal-form-raw">
          <input class="input" type="password" value="" minlength="6" name="password" id="new-password-password" required placeholder="Введите пароль">
        </div>
        <div class="modal-form-raw">
          <input class="input" type="password" value="" name="confirm-password" id="new-password-confirm-password" required placeholder="Повторите пароль">
        </div>
        <button type="submit" class="btn btn-red">Сбросить пароль</button>
        <input type="hidden" name="token" value="{{ app.request.get('token') }}">
        <input type="hidden" name="_csrf_token" value="{{ csrf_token('new-password') }}">
      </form>
    </div>
  </div>
</div>


{#<div class="modal active" id="forgot-password-modal">#}
{#  <div class="modal-content">#}
{#    <div class="modal-body modal-body-without-footer">#}
{#      <button class="close-modal"></button>#}
{#      <h2>Восстановление пароля</h2>#}
{#      <form method="post" action="{{ path('ajax.auth.reset.password') }}">#}
{#        <input type="hidden" name="_csrf_token" value="{{ csrf_token('reset-password') }}">#}
{#        <div class="modal-form-field">#}
{#          <input type="email" name="email" placeholder="E-mail" required="required"/>#}
{#        </div>#}
{#        <button class="btn btn-red" type="submit">Восстановить пароль</button>#}
{#      </form>#}
{#    </div>#}
{#  </div>#}
{#</div>#}
