{% extends 'layouts/base.html.twig' %}

{% block stylesheets %}
  {{ parent() }}
  {{ encore_entry_link_tags('blog.index') }}
{% endblock %}

{% set title = 'Блог' %}

{% block body %}
  <div class="main_blog mt-0">
    <h2 class="title">{{ title }} </h2>
    {% if app.user is not null and is_granted('ROLE_PROVIDER') %}
      <div class="alert">
        Бесплатно разместите новость или статью о вашей организации или программе
        <a href="{{ path('site.profile', { path: 'publications' }) }}">
          <button class="button-blue">Разместить статью</button>
        </a>
      </div>
    {% endif %}
    <div class="box">
      <div class="box-content">
        <div class="container-0">
          <div class="col-lg-12 pl-0">
            <div class="tab blog">
              {% if app.user is not null and is_granted('ROLE_PROVIDER') %}
                <div class="tab__nav articles-nav">
                  <ul class="nav">
                    <li class="nav-item active all-articles">Все статьи</li>
                    <li class="nav-item self-articles">Мои статьи</li>
                    <li class="nav-item moderation-articles">Модерация</li>
                  </ul>
                </div>
              {% endif %}

              {% include 'blog/blocks/mobile-filters.html.twig' %}

              <div class="tab__content">
                <div class="tab__content-item all-articles-tab active">
                  {% for article in articles %}
                    {% include 'blog/card-blog.html.twig' with {
                      article: article
                    } %}
                  {% endfor %}

                  {% include 'components/paginator.html.twig' with {
                    page: page,
                    total_pages: total_pages,
                    path_name: 'blog.index'
                  } %}
                </div>

                {% if app.user is not null and is_granted('ROLE_PROVIDER') %}
                  <div class="tab__content-item self-articles-tab">
                    {% for article in user_articles %}
                      {% include 'blog/card-blog.html.twig' with {
                        article: article
                      } %}
                    {% endfor %}
                  </div>

                  <div class="tab__content-item moderation-articles-tab">
                    {% for article in user_articles|filter(article => not article.active) %}
                      {% include 'blog/card-blog.html.twig' with {
                        article: article
                      } %}
                    {% endfor %}
                  </div>
                {% endif %}
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="box-sidebar">
        <div class="container-0">
          <div class="col-lg-12 pr-0">
            {% include 'blog/blocks/filters.html.twig' %}

            <div class="authors">
              <h5 class="title">Лучшие авторы</h5>
              <div class="item">
                <div class="avatar">
                  <span class="index">1</span>
                  <img src="/img/author.jpg" alt="">
                </div>
                <div class="name">
                  <a href="#">Зиновки Алексей Александрович</a>
                </div>
                <div class="count">112</div>
              </div>
              <div class="item">
                <div class="avatar">
                  <span class="index">1</span>
                  <img src="/img/author.jpg" alt="">
                </div>
                <div class="name">
                  <a href="#">Зиновки Алексей Александрович</a>
                </div>
                <div class="count">112</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block javascripts %}
  {{ parent() }}
  {{ encore_entry_script_tags('blog.index') }}
{% endblock %}
