<div class="card-catalog">
  <div class="card-catalog-header">
    <div class="logo-company">
      {% if provider.image is not null %}
        <img src="{{ provider.image.publicPath }}" alt="{{ provider.name }}">
      {% else %}
        <img src="/img/provider_no_logo.png" alt="{{ provider.name }}">
      {% endif %}
    </div>
    <div class="title">
      <a href="{{ path('provider.view', { provider: provider.id }) }}">{{ provider.name }}</a>
    </div>
  </div>
  <div class="card-catalog-content">
    {% if provider.description|length > 300 %}
      <p class="text">{{ provider.description|slice(0, 300) }} ...</p>
    {% else %}
      <p class="text">{{ provider.description }}</p>
    {% endif %}
  </div>
  <div class="card-catalog-footer">
    <div class="category">
      {% if provider.categories|length > 0 %}
        <span>Категории:</span>
        {% for category in provider.categories %}
          <a href="#">{{ category.name }}</a>
        {% endfor %}
      {% endif %}
    </div>
    <div class="send">
      <div class="open-send-mail send-email" data-it="{{ provider.id }}">
        <span class="icon email-f"></span>
        Написать
      </div>
      <div class="add-provider-favorites {{ provider.id in favorite_provider_ids  ? 'active' : '' }}"
           data-id="{{ provider.id }}">
        <i class="icon-love"></i>
        <span>В избранное</span>
      </div>
    </div>
  </div>
</div>
