{% extends 'layouts/base.html.twig' %}

{% block stylesheets %}
  {{ parent() }}
  {{ encore_entry_link_tags('provider.index') }}
{% endblock %}

{% set title = 'Каталог провайдеров обучения' %}

{% block body %}
  <div class="main-catalog mt-0">
    <h2 class="title">{{ title }}</h2>
    <div class="box">
      <div class="box-content">
        {% if providers|length < 1 %}
          По вашему запросу ничего не найдено
        {% endif %}
        {% for provider in providers %}
          {% include 'provider/card-provider.html.twig' with {
            provider: provider,
            favorite_provider_ids: favorite_provider_ids
          } %}
        {% endfor %}
      </div>
      <div class="box-sidebar">
        {% include 'provider/blocks/filter.html.twig' %}
      </div>
    </div>

    {% include 'components/paginator.html.twig' with {
      page: page,
      total_pages: total_pages,
      path_name: 'provider.index'
    } %}
  </div>
{% endblock %}

{% block modals %}
  {{ parent() }}
  {% include 'provider/modals.html.twig' %}
{% endblock %}

{% block javascripts %}
  {{ parent() }}
  {{ encore_entry_script_tags('provider.index') }}
{% endblock %}
