<div class="header-container">
  <div class="wrap {{ app.user ? 'logged' : '' }}">
    <button id="login-modal-button" type="button">Авторизация</button>

    {% include 'components/modals/login.form.html.twig' with { 'socialLinks': getSocialAuthLinks() } %}
    {% include 'components/modals/reset.passorder.html.twig' %}
    {% include 'components/modals/new.password.html.twig' %}
    {% include 'components/modals/alert.html.twig' %}

    <div class="profile-info">
      <span>Добро пожаловать,</span>
      <span>{{ app.user ? app.user.username : '' }}</span>
      <div class="profile-dropdown ">
        <ul class="">
          <li class="">
            <a href="{{ path('site.profile', { path: 'settings' }) }}">Настройки профиля</a>
          </li>
          <li class="">
            <a href="{{ path('site.profile', { path: 'programs' }) }}">Программы обучения</a>
          </li>
          <li class="">
            <a href="{{ path('site.profile', { path: 'publications' }) }}">Публикации</a>
          </li>
          <li class="">
            <a href="{{ path('site.profile', { path: 'messages' }) }}">Сообщения</a>
          </li>
          <li class="">
            <a href="{{ path('site.profile', { path: 'services' }) }}">Платные услуги, документы</a>
          </li>
          <li class="">
            <a href="{{ path('site.profile', { path: 'training' }) }}">Мое обучение</a>
          </li>
          <li class="">
            <a href="{{ path('ajax.auth.logout') }}">Выйти</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
