{% extends 'layouts/admin.base.html.twig' %}

{% set title = 'Список тегов' %}

{% block body %}
  {% include 'admin/parts/breadcrumbs.twig' with { items: [
    { name: 'Главная', url: path('admin.site.index') },
  ] } %}

  <div class="row mx-0">
    <div class="col-12 p-0">
      <div class="portlet">
        <div class="portlet__head">
          <div class="portlet__head-label w-100">
            <div class="row w-100">
              <div class="col-6 my-auto">
                <h3 class="portlet__head-title">
                  <i class="fa fa-tags"></i>
                  &nbsp;Список тегов
                </h3>
              </div>
              <div class="col-6">
                <a class="btn btn-primary fa-pull-right" href="{{ path('admin.tag.create') }}">Создать</a>
              </div>
            </div>
          </div>
        </div>
        <div class="portlet__body">
          <div class="row">
            <div class="col-sm-12">
              {% if tags is empty %}
                <div class="alert alert-warning fade show mb-0" role="alert">
                  <i class="fas fa-exclamation-triangle"></i>
                  &nbsp;Спибок тегов пуст!
                </div>
              {% else %}
                <table class="table table-bordered table-hover">
                  <thead>
                  <tr>
                    <th>Id</th>
                    <th>Название</th>
                    <th>Сортировка</th>
                    <th></th>
                  </tr>
                  </thead>
                  <tbody>
                  {% for tag in tags %}
                    <tr>
                      <td>{{ tag.id }}</td>
                      <td>{{ tag.name }}</td>
                      <td>{{ tag.sort }}</td>
                      <td>
                        <a href="{{ path('admin.tag.edit', {id: tag.id}) }}">
                          <i class="fa fa-edit"></i>
                        </a>
                        <a href="{{ path('admin.tag.destroy', {id: tag.id}) }}" onclick="return confirm('Вы уверены?')">
                          <i class="far fa-trash-alt"></i>
                        </a>
                      </td>
                    </tr>
                  {% endfor %}
                  </tbody>
                </table>
              {% endif %}
            </div>
          </div>

          {# paginator#}
        </div>
      </div>
    </div>
  </div>
{% endblock %}
