{% set inCompare = inCompare(program.id, app.request.cookies) %}

<div class="swiper-slide">
  <div class="slider__item">
    <div class="card small">
      {% if program.additional.discount is not null %}
        <span class="icon discount"></span>
      {% endif %}
      <div class="card__header">
        <div class="card__header-icon">
          {% if program.provider.image is not null %}
            <img src="{{ program.provider.image }}" alt="">
          {% else %}
            <img src="/img/provider_no_logo.png" alt="">
          {% endif %}
        </div>
        <span class="card__header-title">
          {{ program.provider.name }}
        </span>
      </div>
      <div class="card__body">
        <a href="{{ path('program.view', {id: program.id}) }}" class="card__body-title" target="_blank">
          {{ program.name }}
        </a>
        <div class="card__body-description">
          {{ program.annotation|slice(0, 300) }}{{ program.annotation|length > 300 ? '...' : '' }}
        </div>
      </div>
      <div class="card__footer">
        <div class="card__body-info col-lg-12 col-sm-4 no-gutter">
          <div class="info">
            <i class="icon-book"></i>
            <span class="info-text">{{ program.additional.format }}</span>
          </div>
          <div class="time">
            <i class="icon-clock"></i>
            <span class="info-text">{{ program.additional.duration }}</span>
          </div>
          <div class="star">
            <i class="icon-star"></i>
            <span class="info-text">{{ program.rating }}</span>
          </div>
        </div>

        <div class="col-lg-12 col-md-12 col-sm-4 d-flex j-c-space-between">
          {% if program.additional.price is not null %}
            <div class="card__footer-price">
              {% if program.oldPrice is not null and program.showPriceReduction %}
                <span class="price-old">{{ program.oldPrice|number_format(0, ' ', ' ') }} р.</span>
                <span class="price-new">{{ program.additional.price.individual|number_format(0, ' ', ' ') }} р.</span>
              {% else %}
                <span class="price-text">{{ program.additional.price.individual|number_format(0, ' ', ' ') }} р.</span>
              {% endif %}
            </div>
          {% endif %}
          <div class="card__footer-button">
            <button class="button-blue add-program-request" {{ hasRequest(program.id) ? 'disabled' : '' }}
                    data-id="{{ program.id }}">
              Заказать
            </button>
          </div>
          <div class="card__footer-add compare-program-add" data-id="{{ program.id }}">
            <span class="tooltip">
              {{ inCompare ? 'Находится в сравнении' : 'Добавить в сравнение' }}
            </span>
            <i class="{{ inCompare ? 'icon-insurance' : 'icon-add-file' }}"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
